# Stripe API keys
STRIPE_PUBLISHABLE_KEY=`TODO: change me`
STRIPE_SECRET_KEY=`TODO: change me`

#BASE_DOMAIN=https://8e74da3f35b0.ngrok.io (for example)

BASE_DOMAIN=`TODO: change me` # u can use ngrok url (https)

# Checkout settings 
BASE_PRICE=100
CURRENCY=EUR

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.
PAYMENT_METHODS="card"
# PAYMENT_METHODS="card, ideal" # Requires CURRENCY=eur
# PAYMENT_METHODS="card, fpx" # Requires CURRENCY=myr

